/*
/***Initial reset of all html tags - this removes the annoying default whitespace at the top of the page ****
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}*/

html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: #ebebeb;
    margin-bottom: 300px;
}
/*

@media (max-width: 991px){ unnecessary due to Jquery!
    body{
        margin-bottom: 500px;
    }
}
*/

.footer{
    position: absolute;
    left: 50%;
    width: 1200px;
    transform: translateX(-50%);
    bottom: 0;
    /** may have to have different footer heights at different media queries**
    height: 300px; unnecessary due to jquery!!**/ 
    background-color: #252525;
}

@media (max-width: 1199px){
    .footer{
        width: 100%;
    }
}

/* unnecessary due to Jquery
@media (max-width: 991x){
    .footer{
        height: 500px;
    }
}
*/

.container {
    position: relative;
    width: auto !important;
    max-width: 1200px;
    margin: auto;
}

.fixed-menu {
    position: fixed;
    top: 0;
    left: 50%;
    width: 626px;
    height: 72px;
    transform: translateX(-95.9%);
    background-color: #ffffff;
    z-index: 10;
}



.nav-list li{
    display: inline;
    padding-right: 5px;
    padding-left: 5px;
    text-decoration: none;
    font-size: 18px;
    font-family: AdelleSans, sans-serif;
}

.nav-list a {
    text-decoration: none;
    color: black;
}

.nav-list a:hover {
    color: #b24026;
}

.nav-list {
    margin: auto;
}

.site-logo {
    width:188px;
    height: auto;
    float: left;
}

.site-logo img {
    width: 188px;
    height: 72px;
}

.nav-links {
    width:auto;
    height: auto;
    float: left;
}

.nav-links nav {
    padding-top: 25px;
    padding-left: 33px;
}

img#corner {
    width: 34px; 
    height: 34px; 
    position: absolute; 
    top: 0; 
    right: 0;
}

img#propscale{ /**For banner imaag and others that you want to scale**/
    width: 100%;
    height: auto;
}

.nopadding { /***important for proper grid layout!!**/
    padding: 0px !important;
    margin: 0px !important;
}


.footerl-padding {
    padding-left: 9%;
}

.footertext {
    color: #ffffff;
    font-size: 1.05em;
    font-family: Georgia, serif;
}

.copytext {
    font-size: .8em;
    color: #717171;
    font-family: 'Lato', sans-serif;
    padding-top: 15px;
    
}

img.footerl-padding {
    padding-top: 60px
}

.FooterMidText {
    font-family: Lato;
    font-size: 1.1em;
    color: #ffffff;
}

.FooterMidPad {
    padding-left: 20%;
}

.FooterIcon {
    padding-top: 10%;
    float: left;
}

.FooterLeftPad {
    margin-top: 20%;
}

.FooterInput {
    padding-left: 5%;
    height: 48px;
    width: 247px; /**@media queries to control height and width**/
    color: #b24026;
    font: 300 1.1em Lato;
}

.subButton {
    width: 102px;
    height: 28px;
    background-color: #db7833;
    margin-left: 145px;
    color: #fff;
    border: none;
}

#engr {
    background: url(images/EngineersBlock.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.aboutText {
    font-family: Lora;
    font-size: 1.59em;
    color: #ffffff;
}

#entre {
    background: url(images/EntreBlock.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.entreText {
    position: absolute;
    top: 314px;
    left: 21px;
    right: 78px;
}

.engrText {
    position: absolute;
    top: 314px;
    left: 16px;
    right: 37px;
}

#multi {
    background: url(images/MultiBlock.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.multiText {
    position: absolute;
    top: 34px;
    left: 444px;
    right: 15px;
}

.blueText {
    position: absolute;
    top: 324px;
    left: 26px;
    right: 84px;
}

.storyText {
    position: absolute;
    top: 509px;
    left: 17px;
    right: 68px;
}

#perspText {
    font-family: Lora;
    font-size: 1.1em;
   
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    
    -webkit-column-gap: 70px; /* Chrome, Safari, Opera */
    -moz-column-gap: 70px; /* Firefox */
    column-gap: 70px;
    
}

#perspTextBG {
    background-color: #fff;
}

.perspTextBlk {
    position: relative;
/*    margin: auto;*/
    margin-top: 78px;
    margin-left: 61px;
    margin-right: 61px;
    margin-bottom: 70px;
   /* top: 78px;
    left: 61px;
    right: 100px;*/
}

#infoMap {
    position: absolute;
    left: 633px;
    top: 70px;
}

#infoPics {
    position: absolute;
    top: 615px;
    left: 61px;
}

.infoTextStyle {
    font-family: lato;
    font-weight: 300;
    font-size: 1.1em;
    color: #c5c4c5;
}

.infoText {
    position: absolute;
    top: 675px;
    left: 857px;
    right: 32px;
}

#PercepTextBG {
    background-color: #fff;
}

.PercepText {
    font-family: Lora;
    font-size: 1.1em;
   
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    
    -webkit-column-gap: 70px; /* Chrome, Safari, Opera */
    -moz-column-gap: 70px; /* Firefox */
    column-gap: 70px;
}

#PercepTextBlk {
    position: relative;
    margin-left: 61px;
    margin-top: 78px;
    margin-right: 61px;
    margin-bottom: 52px;
}

#newAfrican {
    position: absolute;
    left: 113px;
    top: 48px;
}

.newAfricanBlk {
    position: absolute;
    top: 55px;
    left: 551px;
    right: 109px;
}

#newAfricanQuote {
    font-family: PlayfairDisplay, serif;
/*    font-style: italic;*/
    font-size: 3.4em;
    line-height: 60px;
    color: #f2cda0;
}

#quoted {
    font-family: Lato;
    font-size: 1.7em;
    color: #f2cda0;
    padding-top: 20px;
}

#quotedPost {
    font-family: Lato;
    font-weight: 200;
    color: #f2cda0;
    font-size: 1.5em;
}

#newAfricanBG {
    background-color: #593e3e;
    height: 500px;
}

#TINA {
    background-color: #14113c;
    height: 500px;
}

.TINABlk {
    position: absolute;
    left: 77px;
    top: 68px;
    right: 583px;
    bottom: 124px;
}

#TINAText {
    font-family: Georgia;
    color: #ed237c;
    font-size: 3em;
}

#TINAFest {
    position: absolute;
    top: 63px;
    left: 672px;
    right: 57px;
    bottom: 77px;
}

#Thinking {
    background-color: #252525;
    height: 500px;
}

#thinkingLogo {
    position: absolute;
    top: 198px;
    left: 57px;
}

.thinkingText {
    color: #B1B1B1;
    font-family: georgia;
    font-weight: 400;
    font-size: 2.5em;
}

.thinkingBlk {
    position: absolute;
    top: 76px;
    left: 598px;
    right: 62px;
    
}





#footerblurbpad {
    padding-top: 31px;
}

input:nth-child(2) { 
    /**input that is the second child of its parent**/
    margin-top: 11px;
}

#footerlogo { /**media queries to amend**/
    padding-top: 50px; 
    width: 141px;
}

#footerloc {
    padding-top: 41px;
}

p {
    margin: 0px;
}

#Fbfooter_xs {
    padding-top: 51px;
}

.footertext_2 {
    font: 400 1.5em Lato;
    color: #ffffff;
}

.socialfootertext_xs {
    display: inline-block
}

.footersocial_sm {
    display: inline-block;
    padding-right: 20px;
}

.socialpadding_sm {
    padding-top: 20px;
}

.btmrow_pad {
    padding-top: 107px;
}
