/*
/***Initial reset of all html tags - this removes the annoying default whitespace at the top of the page ****
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}*/

html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: #ebebeb;
    margin-bottom: 300px;
    font-size: 100%;
}
/*

@media (max-width: 991px){ unnecessary due to Jquery!
    body{
        margin-bottom: 500px;
    }
}
*/

.footer{
    position: absolute;
    left: 50%;
    width: 1200px;
    transform: translateX(-50%);
    bottom: 0;
    /** may have to have different footer heights at different media queries**
    height: 300px; unnecessary due to jquery!!**/ 
    background-color: #252525;
}

@media (max-width: 1199px){
    .footer{
        width: 100%;
    }
}

/* unnecessary due to Jquery
@media (max-width: 991x){
    .footer{
        height: 500px;
    }
}
*/

.container {
    position: relative;
    width: auto !important;
    max-width: 1200px;
    margin: auto;
}

.fixed-navbar {
    position: fixed;
    left: 0;
    top: 0;
    width: 591px;
    z-index: 10;
}

@media (min-width: 1200px){
    .fixed-navbar{
        left: 50%;
        transform: translateX(-101.5%);
    }
}

.logo-big {
    float: left;
}

.nav-content {
    margin: 0;
    padding: 0;
    list-style-type: none;
    /**start off clearing the ini padding and margins**/
    overflow: hidden;
    background-color: #fff;
    padding-top: 25px;
    height: 72px; 
/*    margin: auto;*/
    
}

.nav-wrapper {
    float: left;
    
}

.nav-content li {
    display: inline;
    padding-right: 20px;
}

.nav-content li:first-child {
    padding-left: 12px;
    
}

.nav-content li a {
    font-family: Lato, sans-serif;
    color: #000000;
    font-size: 1.7em;
    padding-left: 0px;
    padding-right: 0px;
}

.logo-small {
    float: left;
    display: none;
}

@media (max-width: 992px){
    .logo-small {display: inline;}
    .logo-big {display: none;}
    
    ul.nav-content {
        height: auto;
        padding-top: 0px;
    }
    
    ul.nav-content li {
        display: block;
        float: none;
        padding: 5px 30px 5px 20px;
    }
    
    ul.nav-content li a {
        font-size: 3.4em;
        font-weight: 700;
    }
    
    .nav-content li:not(:first-child){
        padding-left: 15px;
    }
}


/** Old footer CSS (defunct)**
.fixed-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 626px;
    height: 72px;
    z-index: 10;
}

@media (min-width: 1200px){
    .fixed-menu{
        /***These two lines keep the top left positioning when content is not 100% of screen**
        left: 50%;
        transform: translateX(-95.9%);
    }
}

.nav-list li{
    display: inline;
    padding-right: 5px;
    padding-left: 5px;
    text-decoration: none;
    font-size: 1.3em;
    font-family: AdelleSans, sans-serif;
}

.nav-list a {
    text-decoration: none;
    color: black;
}

.nav-list a:hover {
    color: #b24026;
}

.nav-list {
    overflow: hidden;
    
}

.site-logo {
    float: left;
}

@media (max-width: 992px){
    .site-logo {display: none;}
}

.small-site-logo {
    display: none;
    float: left;
}

@media (max-width: 992px) {
    .small-site-logo {display: inline;}
}

.nav-links {
    height: 72px;
    text-align: center;
    background: #fff;
/*    display: block;*
}

@media (max-width: 992px){
/*    .nav-links {display: none;}*
    
    .nav-links.jresponse {position: relative;}
    
    .nav-links.jresponse li {
        float: left;
        display: inline-block;
    }
    
    .nav-links.jresponse li a {
        display: block;
        text-align: left;
    }
}

.nav-links nav {
    padding-top: 25px;
    padding-left: 33px;
}
End of Old footer CSS (Defunct) **/
    
    
    
    
img#corner {
    width: 34px; 
    height: 34px; 
    position: absolute; 
    top: 0; 
    right: 0;
}

.nopadding { /***important for proper grid layout!!**/
    padding: 0px !important;
    margin: 0px !important;
}


.footerl-padding {
    padding-left: 9%;
}

.footertext {
    color: #ffffff;
    font-size: 1.05em;
    font-family: Georgia, serif;
}

.copytext {
    font-size: .8em;
    color: #717171;
    font-family: 'Lato', sans-serif;
    padding-top: 15px;
    
}

img.footerl-padding {
    padding-top: 60px
}

.FooterMidText {
    font-family: Lato;
    font-size: 1.1em;
    color: #ffffff;
}

.FooterMidPad {
    padding-left: 20%;
}

.FooterIcon {
    padding-top: 10%;
    float: left;
}

.FooterLeftPad {
    margin-top: 20%;
}

.FooterInput {
    padding-left: 5%;
    height: 48px;
    width: 247px; /**@media queries to control height and width**/
    color: #b24026;
    font: 300 1.1em Lato;
}

.subButton {
    width: 102px;
    height: 28px;
    background-color: #db7833;
    margin-left: 145px;
    color: #fff;
    border: none;
}

/*
#engr {
    background: url(images/EngineersBlock.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
}
*/

/*
.aboutText {
    font-family: Lora;
    font-size: 1.59em;
    color: #ffffff;
}
*/

.tech-pad {
    padding-left: 21px;
    padding-top: 34px;
    padding-right: 10px
}

#entre-text {
    position: absolute;
    bottom: 25px;
    padding-right: 78px;
}

#engr-text {
    position: absolute;
    bottom: 25px;
    padding-right: 37px;
}

#multi {
    background: url(images/MultiBlock.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.multi-text {
    position: absolute;
    bottom: 25px;
    left: 444px;
    right: 15px;
}

#blue-text {
    position: absolute;
    bottom: 8px;
    padding-right: 84px;
}

#story-text {
    position: absolute;
    bottom: 29px;
    padding-right: 68px;
}

#perspText {
    font-family: Lora;
    font-size: 1.1em;
   
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    
    -webkit-column-gap: 70px; /* Chrome, Safari, Opera */
    -moz-column-gap: 70px; /* Firefox */
    column-gap: 70px;
    
}

#perspTextBG {
    background-color: #fff;
}

.perspTextBlk {
    position: relative;
/*    margin: auto;*/
    margin-top: 78px;
    margin-left: 61px;
    margin-right: 61px;
    margin-bottom: 70px;
   /* top: 78px;
    left: 61px;
    right: 100px;*/
}

#infoMap {
    position: absolute;
    left: 633px;
    top: 70px;
}

#infoPics {
    position: absolute;
    top: 615px;
    left: 61px;
}

.infoTextStyle {
    font-family: lato;
    font-weight: 300;
    font-size: 1.1em;
    color: #c5c4c5;
}

.infoText {
    position: absolute;
    top: 675px;
    left: 857px;
    right: 32px;
}

#PercepTextBG {
    background-color: #fff;
}

.PercepText {
    font-family: Lora;
    font-size: 1.1em;
   
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    
    -webkit-column-gap: 70px; /* Chrome, Safari, Opera */
    -moz-column-gap: 70px; /* Firefox */
    column-gap: 70px;
}

#PercepTextBlk {
    position: relative;
    margin-left: 61px;
    margin-top: 78px;
    margin-right: 61px;
    margin-bottom: 52px;
}

#newAfrican {
    position: absolute;
    left: 113px;
    top: 48px;
}

.newAfricanBlk {
    position: absolute;
    top: 55px;
    left: 551px;
    right: 109px;
}

#newAfricanQuote {
    font-family: PlayfairDisplay, serif;
/*    font-style: italic;*/
    font-size: 3.4em;
    line-height: 60px;
    color: #f2cda0;
}

#quoted {
    font-family: Lato;
    font-size: 1.7em;
    color: #f2cda0;
    padding-top: 20px;
}

#quotedPost {
    font-family: Lato;
    font-weight: 200;
    color: #f2cda0;
    font-size: 1.5em;
}

#newAfricanBG {
    background-color: #593e3e;
    height: 500px;
}

#TINA {
    background-color: #14113c;
    height: 500px;
}

.TINABlk {
    position: absolute;
    left: 77px;
    top: 68px;
    right: 583px;
    bottom: 124px;
}

#TINAText {
    font-family: Georgia;
    color: #ed237c;
    font-size: 3em;
}

#TINAFest {
    position: absolute;
    top: 63px;
    left: 672px;
    right: 57px;
    bottom: 77px;
}

#Thinking {
    background-color: #252525;
    height: 500px;
}

#thinkingLogo {
    position: absolute;
    top: 198px;
    left: 57px;
}

.thinkingText {
    color: #B1B1B1;
    font-family: georgia;
    font-weight: 400;
    font-size: 2.5em;
}

.thinkingBlk {
    position: absolute;
    top: 76px;
    left: 598px;
    right: 62px;
    
}





#footerblurbpad {
    padding-top: 31px;
}

input:nth-child(2) { 
    /**input that is the second child of its parent**/
    margin-top: 11px;
}

#footerlogo { /**media queries to amend**/
    padding-top: 50px; 
    width: 141px;
}

#footerloc {
    padding-top: 41px;
}

p {
    margin: 0px;
}

#Fbfooter_xs {
    padding-top: 51px;
}

.footertext_2 {
    font: 400 1.5em Lato;
    color: #ffffff;
}

.socialfootertext_xs {
    display: inline-block
}

.footersocial_sm {
    display: inline-block;
    padding-right: 20px;
}

.socialpadding_sm {
    padding-top: 20px;
}

.btmrow_pad {
    padding-top: 107px;
}


.serv-lvl-one {
    background-color: #3a7585;
}

#pstrat_text {
    position: absolute;
    top: 93px;
    left: 75px;
    
}

#pstrat_shape {
    position: absolute;
    top: 93px;
    left: 811px;
}

.show-text {
    font-family: Lato, sans-serif;
    font-size: 180%;
    line-height: 130%;
    font-weight: 300;/*need to use line-height and font % here*/
    color: #ffffff;
}

.serv-lvl-one p.show-text {
    position: absolute;
    margin-left: 75px;
    margin-right: 604px;
    top: 375px;
}

.serv-lvls {
    position: relative;
    height: 500px;
}

.serv-lvl-two {
    background-color: #018255;
}

#pdesign_text {
    position: absolute;
    top: 93px;
    left: 84px;
}

#pdesign_shape {
    position: absolute;
    top: 161px;
    left: 811px;
}

.serv-lvl-two p.show-text {
    position: absolute;
    margin-left: 80px;
    margin-right: 604px;
    top: 375px;
}

.serv-lvl-three {
    background-color: #b24026;
}

#pdel_text {
    position: absolute;
    top: 100px;
    left: 93px;
}

#pdel_shape {
    position: absolute;
    top: 155px;
    left: 823px;
}

.serv-lvl-three p.show-text {
    position: absolute;
    margin-left: 90px;
    margin-right: 604px;
    top: 381px;
}

.body-frame {
    background-color: #fff;
    padding-top: 75px;
    padding-bottom: 75px;
    padding-left: 100px;
    padding-right: 100px;
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    -webkit-column-gap: 56px; /* Chrome, Safari, Opera */
    -moz-column-gap: 56px; /* Firefox */
    column-gap: 56px;
}

p.body {
    font-family: "Georgia", serif;
    font-size: 1.12em;
    font-size: 1.6vw;
    color: #000;
    letter-spacing: 0.8px;
    line-height: 150%;
}

p.body:not(:first-child) {
    padding-top: 15px;
}

@media (min-width: 1200px) {
    p.body {
        font-size: 1.6em;
    }
}

@media (max-width: 992px) {
    .body-frame {
        padding-left: 60px;
        padding-right: 40px;
    }
    
}
@media (max-width: 768px) {
    p.body {
        font-size: 2vw;
        
    }
    
    @media (max-width: 600px) {
        p.body {font-size: 1.2em;}
            
        .body-frame {
            padding-left: 20px;
            padding-right: 20px
        }
    }
    .body-frame {
        -webkit-column-count: 1; /* Chrome, Safari, Opera */
        -moz-column-count: 1; /* Firefox */
        column-count: 1;
    }
}

.service-descr {
    position: relative;
    height: 400px;
    background-color: #b24026;;
}

#ventures-title {
    position: absolute;
    top: 27.8%;
    left: 50.6%;
}

#ventures-img {
    position: absolute;
    left: 31.4%;
    top: 18.5%;
}

#ventures p.show-text {
    position: absolute;
    top: 57.5%;
    margin-left: 50.2%;
    
    
}

#impact-img {
    position: absolute;
    left: 12.5%;
    top: 18.5%;
}

#impact-title {
    position: absolute;
    top: 27.3%;
    left: 43.8%;
}

#impact p.show-text {
    position: absolute;
    top: 57.5%;
    margin-left: 42.6%;
    margin-right: 19.3%;
    
}

#narrative-img {
    position: absolute;
    top: 20%;
    left: 31.3%;
}

#narrative-title {
    position: absolute;
    top: 25%;
    left: 56.7%;
}

#narrative p.show-text {
    position: absolute;
    top: 40.8%;
    margin-left: 55.5%;    
}

#market-img {
    position: absolute;
    top: 12.8%;
    left: 23.7%;
}

#market-title {
    position: absolute;
    top: 25.3%;
    left:  43.7%;
}

#market p.show-text {
    position: absolute;
    top: 55.2%;
    margin-left: 42.7%;
    margin-right: 11.5%;
}

@media (max-width: 1170px) {
    #ventures-img {left: 29%;}
    #impact-img {left: 8%;}
    #narrative-img {left: 26%;}
    #market-img {left: 21%}
    #impact p.show-text {margin-right: 14%}
    
}

@media (max-width: 992px) { /*limit container size at a point to not ruin format with @media & fixed container width*/
    .service-descr {
        height: 250px; 
    }
    #impact {background-color: #016542;}
    #narrative {background-color: #3a7585;}
    #market {background-color: #db7833;}
    
    #market-img { 
        left: 12%;  
        width: 10vw;
        top: 15%;
        /***Rocket rotate tranform code***/
        -ms-transform: rotate(40deg); /* IE 9 */
        -webkit-transform: rotate(40deg); /* Chrome, Safari, Opera */
        transform: rotate(40deg);
        
    }
    #market-title {
        left: 26%;
        top: 34%;
        width: 19vw;
    }
    
    #market p.show-text {
        top: 30.2%;
        margin-left: 57%;
        margin-right: 7%;
        font-size: 2.8vw;
    }
    
    #ventures-img {
        left: 7.2%;
        top: 20%;
        width: 16vw;
    }
    #ventures-title {
        left: 26%;
        top: 34%;
        width: 19vw;
    }
    #ventures p.show-text{
        top: 30.2%;
        margin-left: 57%;
        margin-right: 7%;
        font-size: 2.8vw;
    }
    
    #impact-img { /** after certain view size remove descr text, then past that leave only images in the banners **/
        left: 7.2%;
        top: 20%;
        width: 16vw;
    }
    #impact-title{
        left: 26%;
        top: 39.2%;
        width: 19vw;
    }
    #impact p.show-text {
        top: 25%;
        margin-left: 57%;
        margin-right: 7%;
        font-size: 2.8vw;
    }
    
    #narrative-img {
        left: 7.2%;
        top: 25.6%;
        width: 16vw;
    }
    #narrative-title {
        top: 36%;
        left: 26%;
        width: 19vw;
    }
    #narrative p.show-text {
        top: 23%;
        margin-left: 57%;
        margin-right: 7%;
        font-size: 2.8vw;
    }

}

@media (max-width: 700px){ /* Img and title only*/
    #ventures p.show-text {display: none;}
    #impact p.show-text {display: none;}
    #narrative p.show-text {display: none;}
    #market p.show-text {display: none;}
    
    #ventures-img {
        width: 30vw;
        top: 15%;
        left: 12%;
    }
    #ventures-title {
        width: 40vw;
        left: 50%;
        top: 27%;
    }
    #impact-img {
        width: 30vw;
        top: 12%;
        left: 12%;
    }
    #impact-title {
        width: 40vw;
        left: 50%;
        top: 27%;
    }
    #narrative-img {
        width: 30vw;
        top: 18%;
        left: 12%;
    }
    #narrative-title {
        width: 40vw;
        left: 50%;
        top: 29%;
    }
    #market-img {
        width: 16vw;
        top: 12%;
        left: 20%;
    }
    #market-title {
        width: 35vw;
        left: 50%;
        top: 29%;
    }
}
#about-blurb {
    position: absolute;
    font-weight: 700;
    font-family: "adelle-sans";
    width: 60%;
    margin-left: 35%;
    padding-right: 30px;
/*
    margin-left: 545px;
    margin-right: 96px;
*/
    bottom: 28%;
    font-size: 450%;
    line-height: 140%
/*    font-size: 2.4vw;*/
    
}

#percep-banner {
    background-image: url(images/ABoutPagesBanner.png);
    background-repeat: no-repeat;
    height: 700px;
    position: relative;
}

.quote-block {
    background-color: #fff;
    padding: 81px 20px 81px 61px;
    
}

.quote-text {
    font: 700 550% Georgia;
    line-height: 130%;
    color: rgba(0, 0, 0, 0.8);
}

@media (max-width: 992px) {
    .quote-text {
        font-size: 480%;
    }
}
    

@media (max-width: 768px) {
    .quote-text {
        font-size: 350%;
        font-size: 4.5vw;
        line-height: 140%;
    }
    .quote-block {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

#thinking-quote-block {
    background-color: #252525;
}

#thinking-quote {
    color: rgba(177, 177, 177, 0.8);
}

#TINA-quote-block {
    background-color: #f2e505;
}

#TINA-quote {
    color: #14113c;
}

.persp-info {
    background-color: #455565;
/*    height: 600px;*/
/*    position: relative;*/
}

.headline-text {
    font-family: "adelle-sans", sans-serif;
    font-weight: 700;
    color: #bfbfbf;
    font-size: 10em;
    font-size: 6.5vw;
}

#Power-map {
    padding-top: 71px;
}

#tech-over {
    padding-left: 20px;
    padding-top: 50px;
    padding-right: 5px;
}

.second-row {
    height: 300px;
}



#power-info {
    padding-top: 15px;
    padding-left: 61px;
}

#power-info-text {
    padding: 75px 20px 10px 57px
}

@media(max-width: 992px) {
    #power-info-text {
        padding-right: 10px;
        padding-left: 40px;
        padding-top: 40px;
    }
    #density-info {
        padding-top: 40px;
    }
}

@media(max-width: 768px) {
    #power-map {
        padding-top: 0px;
    }
    .headline-text {
        font-size: 1000%;
        font-size: 10vw;
    }
    #tech-over-text{
        background-color: #172f42;
    }
    #density-info {background-color: #506a72;}
    #power-info-text {
        padding: 50px 50px 50px 80px;
    }
    #density-info {
        padding: 50px 30px 50px 0px;
    }
    #tech-over {
        padding-bottom: 30px;
        padding-top: 30px;
    }
}

@media (max-width: 450px) {
    #power-info-text{
        font-size: 5vw;
        padding-left: 60px;
        padding-right: 20px;
    }
}
.tech-page-blk {
    background-color: #3a7585;
    height: 450px;
    position: relative;
}



.tech-text {
/*    position: absolute;*/
    font-size: 240%;
/*    font-size: 1.9vw;*/
    padding-left: 21px;
}

#emgr-blk {
    background-color: #db7833;
}

#multi-blk {
    background-color: #018255;
}

#story-blk {
    height: 620px;
    background-color: #4fa1b7
}

#blue-blk {
    background-color: #b24026;
}

@media (max-width: 1190px) {
    .tech-text {
        font-size: 240%;
        line-height: 120%
    }
}

@media (max-width: 1128px) {
     .tech-text {
        font-size: 230%;
        line-height: 120%
    }
    .multi-text {
        left: 410px
    }
}

@media (max-width: 1060px) {
    .tech-text {font-size: 210%;}
}
#red-fill {
    background-color: #b24026;
}

#blue-fill {
    background-color: #4fa1b6;
}

@media (max-width: 992px) {
    #red-fill {display: none;}
    #blue-fill {display: none;}
}
